<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet" href="/css/styles.css">
    <title>{{ title }}</title>
  </head>
  <body>

    <div class="max-w-screen-md mx-auto text-center pt-2">
            <header>
              <a href="/">
                Home
              </a>
              <a href="/about">
                About
              </a>
            </header>
            <div>
              {{ content | safe }}
            </div>
      </div>
  </body>
</html>