@tailwind base;

body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #fff;
}

a {
  @apply text-blue-700;
}

a:hover {
  @apply underline;
}

@tailwind components;

@tailwind utilities;
