---
title: Rachel & Mars this page is for you
layout: base.njk
---
  
<div class="my-4">
  <h1 class="text-3xl font-extrabold">Rachel & Mars this page is for you</h1>
  <div class="text-4xl my-3">
    &#x2764;
  </div> 
  <div class="vibe text-2xl">
    You are...     
  </div>
  <button id="refresh" type="button" class="text-sm mt-8 hover:bg-indigo-300 bg-indigo-400 p-2 w-60 block mx-auto rounded shadow-md">Refresh the page..</button>
</div>
<script src="./js/vibe.js"></script>