---
title: Rachel & Mars this page is for you
layout: base.njk
---
  
<div class="h-12 w-screen">
  <h1>Rachel & Mars this page is for you</h1>
  <div class="love">
    &#x2764;
  </div> 
  <div class="vibe">
    You are...     
  </div>  
</div>
      

    

      
    <script src="./js/vibe.js"></script>   