---
layout: base.njk
pagination:
  data: gif
  size: 1
  alias: gif
permalink: /{{gif.message}}/surprise.html
title: A gif for the message
---

<div class="my-6">
  <h1 class="text-3xl font-extrabold">my {{gif.message}}!</h1>
  <img src="{{ gif.url }}" alt="{{gif.message}} gif" class="mx-auto block my-8" />
</div>