---
title: Pulling love giphs
layout: base.njk
---

<div class="my-6">
  <h1 class="text-3xl font-extrabold">Surprise!!</h1>
    <img src="{{ surprise }}" alt="random gif" class="mx-auto block my-8" />
</div>